.container-main {
  height: 79%;
}
.container-card {
  width: 80%;
}
.container-title {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.btn-mobile {
  display: none;
}
.title {
  padding: 25px;
  font-weight: 600;
  color: #0d1c41;
}

.card {
  width: 290px;
  height: 315px;
  border-radius: 10px;
  margin: 0 auto;
}
.btn-menu {
  border: none;
  background-color: transparent;
  color: #142c63;
  font-size: 20px;
}
.btns-actions {
  font-size: 24px;
  color: #142c63;
}
.ac {
  cursor: pointer;
  transition: 300ms;
}
.ac:hover {
  font-size: 28px;
  color: #0d1c41;
}
.card .picture,
.card .name,
.card .jobtitle,
.card .btns-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .picture {
  width: 100%;
  margin: auto;
}

.card .img {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card .img-defaut {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.bg-card {
  background-color: #dfe2eb;
  border-radius: 10px 10px 0 0;
  height: 150px;
}

.card .picture p {
  font-size: 0.8em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card .name p {
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: 1em;
}

.card .jobtitle p {
  margin-bottom: 10%;
  font-size: 0.54em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.cssbuttons-io-button {
  background: #142c63;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #102350;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #102350;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #102350;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.show-more {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: none;
  background: #142c63;
  box-shadow: 6px 6px 12px #dfdddd, -6px -6px 12px #ffffff;
  color: #ffffff;
}

.close {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 30px;
  transition: 300ms;
}
.close:hover {
  color: red;
}

.btn-cad {
  background-color: #142c63;
  color: #ffffff;
}
.btn {
  border: none;
}
.btn-cancel {
  background: #f8f6f6;
  box-shadow: 6px 6px 12px #dfdddd, -6px -6px 12px #ffffff;
}
.form {
  display: flex;
  justify-content: center;
}
mat-form-field {
  width: 350px;
}
h5 {
  font-weight: 600;
  color: #142c63;
}

.btn-del {
  background-color: #e62222;
  color: white;
}
.btn-del i {
  color: transparent;
}
mat-card{
  font-family: 'Poppins';
}
@media (max-height: 900px) {
  /* .container-card{
   width: 85%;

  }*/
  .card {
    width: 230px;
    height: 290px;
    border-radius: 10px;
  }
}
@media (max-width: 450px) {
  .title {
    padding: 10px;
    font-size: 15px;
  }
  .cssbuttons-io-button {
    display: none;
  }
  .btn-mobile {
    display: block;
    height: 80%;
    padding: 8px;
    margin-top: 40px;
    border: none;
    background-color: #102350;
    color: #ffffff;
    border-radius: 8px;
  }
}
