
.btn-cad{
  background-color: #142C63;
  margin-right: 20px;
  color: #ffffff;
}
.btn{
  border: none;
}
.btn-cancel{
  background: #f8f6f6;
  box-shadow: 6px 6px 12px #dfdddd,
             -6px -6px 12px #ffffff;
}
h5{
  font-weight: 600;
  color: #142C63;
}


mat-form-field{
  width: 350px;
}
@media(max-width:430px){
  mat-form-field{
    width: 220px;
  }
  .btn-cad{
    margin-right: 8px;
  }
}
